{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active = "auth.login" %}

{% macro render_field(field) %}
{{ field(**kwargs)|safe }}
{% if field.errors %}
<ul class=errors>
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% block styles %}
{{ super() }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" />
{% endblock styles %}

{% block app_content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <h1 class="pt-4">Sign In</h1>
        </div>

        <form method="post" class="form" role="form">
            {{ form.csrf_token() }}
            {{ render_field(form.username, class='fadeIn second', placeholder='Email or username') }}
            {{ render_field(form.password, class='fadeIn third', placeholder='Password') }}
            {{ render_field(form.submit, class='fadeIn fourth') }}
        </form>

        <a href="{{ url_for('auth.oauth_authorize', provider='facebook') }}" class="btn btn-lg">
            <i class="fa fa-facebook fa-2x"></i>
        </a>

        <a href="{{ url_for('auth.oauth_authorize', provider='twitter') }}" class="btn btn-lg">
            <i class="fa fa-twitter fa-2x"></i>
        </a>

        <a href="{{ url_for('auth.oauth_authorize', provider='facebook') }}" class="btn btn-lg">
            <i class="fa fa-linkedin fa-2x"></i>
        </a>
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    </div>
</div>
{% endblock %}
