{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "macros.html" import render_field with context %}
{% set active = "auth.login" %}

{% block styles %}
{{ super() }}
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/auth.css') }}"
  />
{% endblock styles %}

{% block app_content %}
<div class="wrapper">
  <div id="formContent">
    <h3 class="pt-4">Reset Password</h3>
    <form method="post" class="form" role="form">
      {{ form.csrf_token() }}
      {{ render_field(form.password, placeholder='Enter a new password') }}
      {{ render_field(form.repeat, placeholder='Repeat your new password') }}
      {{ render_field(form.submit) }}
    </form>
  </div>
</div>

{% endblock %}
