@charset "UTF-8";

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
}

.metrics {
  height: 40%;
  background-image: linear-gradient(#C2185B, #FF5252);
}

.navbar-right {
  margin-right: 5px;
}

.metrics > * {
  color: white;
}

.metric-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: lighter;
}

.metric-value {
  margin: 0;
  font-size: 58px;
  font-weight: lighter;
  flex: 1, 100%;
}

.test-box {
  background-color: white;
  height: 200px;
}

.test-box > * {
  width: 100%;
  height: 100%;
}

.words {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-grow: 5;
}

.words-typed {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: #4892DC;
}

#input-box {
  -webkit-user-modify: read-write;
  -moz-user-modify: read-write;
  user-modify: read-write;
  display: inline-block;
  padding-left: 5px;
  border: none;
  outline: none;
  font-size: 56px;
  color: #4892DC;
  text-align: right;
  line-height: 56px;
  white-space: nowrap;
  min-height: 56px;
  text-decoration-color: #4892DC;
}

.words-typed span:first-child {
  padding-left: 0px;
}

.words-typed span {
  font-size: 56px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 56px;
  text-align: left;
  margin:0;
}

.words-typed .wrong-input {
  color: #E91E63;
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: #E91E63;
}

#input-box .wrong-input {
  color: #4892DC;
  text-decoration: line-through;
  text-decoration-style: solid;
}

.words span:first-child {
  padding-left: 0px;
}

.words span {
  font-size: 56px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 56px;
  text-align: left;
  color: #333;
  margin:0;
}

footer {
  height: 335px;
  background-image: linear-gradient(#03A9F4, #03A9F4);
}
